@import '../base/base';

.main-content-article {
  font-size: 14px;
  padding-top: $detailContentTop;
  padding-bottom: $detailContentBottom;
  color: $contentColorGray;

	h1 {
	  font-size: 30px;
	  color: $contentColorBlack;
	}

	p {
	  margin: 50px auto;
	  width: 58%;

	  &:global(.img-caption) {
	  	margin: 0 auto 10px;
	  }
	}

	img {
		width: 100%;
		margin: 40px auto;
	}

	em {
		font-weight: bold;
    font-style: normal;
	}

	:global(.img-group) {
	  padding: 100px 20%;
	  background: #f5f6f7;
		
		img {
		  display: block;
		  width: 100%;
		  margin-top: 80px;
		}

		img:nth-of-type(1) {
		  margin-top: 0;
		}
	}


	@media screen and (max-width: $mobileLgMax) {
		padding-top: 100px;

		p {
		  margin: 20px auto;
		  width: 100%;
		}

		img {
			margin-bottom: 15px;
		}

		:global(.img-group) {
		  padding: 10%;

			img {
			  margin-top: 50px;
			}
		}
	}
}

