@import '../../base/base';

.home-header {
	position: relative;
  min-height: $headerMinHeight;
  color: $contentColorWhite;
  overflow: hidden;

  &:global(.is-about-shown) {
    .slogon {
      transform: translateY(-100%);
    }

    .about {
      transform: translateY(0);
    }
  }
}

.slogon, .about {
  @include absoluteFromOrigin;
  right: 0;
  bottom: $controlBarHeight;

  @include transitionEffect;
}

.slogon {
  background: $headerBgBlack url(./head.png) bottom center no-repeat;
  background-size: auto 90%;

  @media screen and (max-width: 640px) {
    background-image: url(./head_mobile.png);
    background-size: 100% auto;
  }
}

.about {
  background: $headerBgBlack;
  transform: translateY(100%);

  &-content {
    position: absolute;
    left: 0;
    right: 0;
    top: $aboutTop;
    margin-top: -$avatorHeight * 0.5;
  }

  .my-name {
    margin: 8px 0;
    font-size: $myNameFontSize;
  }

  .self-intro {
    @include hc;
    width: $selfIntroWidth;

    @media screen and (max-width: 640px) {
      width: 60%;
    }
  }
}

.control-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $controlBarHeight;
  background: $bgBlack;
}

.control-btn {
  display: inline-block;
  width: $controlBtnWidth;
  margin-top: ($controlBarHeight - $controlBtnHeight) / 2;
  line-height: $controlBtnHeight;
  font-size: $controlBtnFontSize;
  color: $contentColorWhite;
  border: 1px solid $controlBtnBorderColor;
  cursor: pointer;

  &:hover {
    color: $contentColorBlack;
    background: $contentColorWhite;
  }
}
