// 全局配置，只引入一次
@import '../base/normalize';
@import '../base/base';

body {
  font-size: $contentFontSize;
  line-height: $contentLineHeight;
  font-family: $contentFontFamily, sans-serif;
  color: $contentColorBlack;
  word-break: break-word;
  text-align: center;
}

a[href] {
  cursor: pointer;
}

// 主区域内容
:global(.main-segment) {
  padding: 100px 0;
}

// 主区域区块内容
:global(.main-content) {
  @include hc;

  @media screen and (max-width: $mobileLgMax) {
    & {
      width: $mainContentMobileWidth;
    }
  }

  @media screen and (min-width: $screenSmMin) {
    & {
      width: $mainContentSmWidth;
    }
  }

  @media screen and (min-width: $screenMidMin) {
    & {
      width: $mainContentMidWidth;
    }
  }

  @media screen and (min-width: $screenLgMin) {
    & {
      width: $mainContentLgWidth;
    }
  }

  :global(.content-title) {
    font-size: $contentTitleFontSize;
  }

  :global(.content-sub-title) {
    font-size: $contentFontSize;
    font-weight: normal;
    color: $contentColorGray;
  }
}

// nav打开的样式
.container:global(.is-side-nav-shown) {
  // 侧导航打开时，隐藏顶部导航
  :global(.top-nav) {
    display: none;
  }

  .side-nav-trigger {
    left: $sideNavTriggerLeft + $sideNavWidth;
    background-image: url(./icon_close.png);
    cursor: w-resize;
  }
  .side-nav-mask {
    width: 100%;
  }
  .side-nav {
    width: $sideNavWidth;
  }
  .main {
    left: $sideNavWidth;
  }
}

.side-nav-trigger,
.side-nav,
.main {
  // 过渡动画
  @include transitionEffect;
}

// trigger不能放在main里，原因有2：
//  1. main层级比nav-mask低，但trigger需要显示在mask之上；
//  2. main是relative布局，向右移动时其原来占据的空间不变，trigger不会随之移动
// 因此，trigger需要fixed定位
.side-nav-trigger,
.side-nav-mask,
.side-nav {
  position: fixed;
}

// 初始时，主导航和mask均不显示，当点击trigger后才展现
.side-nav-mask,
.side-nav {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.side-nav-trigger {
  z-index: index($layers, side-nav-trigger);
  top: $sideNavTriggerLeft;
  left: $sideNavTriggerTop;
  width: $sideNavTriggerWidth;
  height: $sideNavTriggerHeight;
  background: url(./icon_menu.png);
  cursor: e-resize;
}

.side-nav-mask {
  z-index: index($layers, side-nav-mask);
}

.side-nav {
  z-index: index($layers, side-nav);
  background: $bgBlack;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: index($layers, main);
  left: 0;
  top: 0;

  ul:after {
    content: '';
    display: block;
    clear: both;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    float: left;
  }
}

.footer {
  padding-top: $footerPaddintTop;
  height: $footerHeight;
  color: $footerColorGray;
}