@import '../../base/base';

$itemMarginRightMobileSm: 0;
$itemMarginBottomMobileSm: 5%;
$itemSizeMobileSm: 100%;

$itemMarginRightMobileLg: 5%;
$itemMarginBottomMobileLg: 5%;
$itemSizeMobileLg: 47.5%;

$itemMarginRightScreenSm: 10px;
$itemMarginBottomScreenSm: 0;
$itemSizeScreenSm: 180px;

$itemMarginRightScreenMid: 14px;
$itemMarginBottomScreenMid: 0;
$itemSizeScreenMid: 232px;

$itemMarginRightScreenLg: 18px;
$itemMarginBottomScreenLg: 0;
$itemSizeScreenLg: 279px;

.list {
  margin-top: $titleContentGap;

  &-item {
    background: $bgGray;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      
      &:hover {
        opacity: .8
      }
      
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }
  
  /*
    响应式
   */
  @media screen and (max-width: $mobileSmMax) {
    &-item {
      float: none;
      margin-right: $itemMarginRightMobileSm;
      margin-bottom: $itemMarginBottomMobileSm;
      width: $itemSizeMobileSm;
    }
  }

  @media screen and (min-width: $mobileLgMin) {
    &-item {
      margin-right: $itemMarginRightMobileLg;
      margin-bottom: $itemMarginBottomMobileLg;
      width: $itemSizeMobileLg;

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $screenSmMin) {
    &-item {
      width: $itemSizeScreenSm;
      height: $itemSizeScreenSm;
      margin-right: $itemMarginRightScreenSm;
      margin-bottom: $itemMarginBottomScreenSm;

      &:nth-of-type(even) {
        margin-right: $itemMarginRightScreenSm;
      }
    }
  }

  @media screen and (min-width: $screenMidMin) {
    &-item {
      width: $itemSizeScreenMid;
      height: $itemSizeScreenMid;
      margin-right: $itemMarginRightScreenMid;
      margin-bottom: $itemMarginBottomScreenMid;

      &:nth-of-type(even) {
        margin-right: $itemMarginRightScreenMid;
      }
    }
  }

  @media screen and (min-width: $screenLgMin) {
    &-item {
      width: $itemSizeScreenLg;
      height: $itemSizeScreenLg;
      margin-right: $itemMarginRightScreenLg;
      margin-bottom: $itemMarginBottomScreenLg;  

      &:nth-of-type(even) {
        margin-right: $itemMarginRightScreenLg;
      }    
    }
  }
}
