@import '../../base/base';

.responsive-design {
	background-color: $bgGray;
}

.responsive-img {
  display: block;
  margin-top: $titleContentGap;
  @include hc;
  width: $responsiveImgWidth;

  @media screen and (max-width: $screenSmMin) {
    width: $responsiveImgWidthMobile;
  }
}