@import '../../base/base';

.list {
  margin: 50px 0 -50px;
}

.list-item {
  margin-bottom: $titleContentGap;

  .item-title {
    margin-top: .7em;
    font-size: $contentTitleFontSize;
  }

  @media screen and (max-width: $mobileSmMax) {
    width:100%;

    .item-title {
      margin-top: 0;
    }
  }

  @media screen and (min-width: $mobileLgMin) {
    width:50%;
  }

  @media screen and (min-width: $screenSmMin) {
    width:25%;
  }

}

